<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>MuzikFinder</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<description></description>
		<display-name>InitServlet</display-name>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>server.servlets.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>WelcomeServlet</display-name>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>server.servlets.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/WelcomeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>server.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>SignUpServlet</display-name>
		<servlet-name>SignUpServlet</servlet-name>
		<servlet-class>server.servlets.SignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpServlet</servlet-name>
		<url-pattern>/SignUpServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>SearchServlet</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>server.servlets.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/SearchServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>AccountServlet</display-name>
		<servlet-name>AccountServlet</servlet-name>
		<servlet-class>server.servlets.AccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/AccountServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>ShowMoreResultsServlet</display-name>
		<servlet-name>ShowMoreResultsServlet</servlet-name>
		<servlet-class>server.servlets.ShowMoreResultsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowMoreResultsServlet</servlet-name>
		<url-pattern>/ShowMoreResultsServlet</url-pattern>
	</servlet-mapping>
</web-app>